body{
	font-family: "Proxima Nova",Arial,sans-serif;
  font-weight: 400;
}

/******************************************************************
                    NAVIGATION
*******************************************************************/

*, *:before, *:after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

.flex-nav{
	/*border:2px solid green;*/
	padding:10px;
}

.nav-list{
	list-style: none;
	display:flex;
	/*border:2px solid green;*/
	/*justify-content: center;*/
}

.nav-item{
	/*display:block;*/
	flex:1;
	/*border: 1px solid green;*/
	text-align: center;
}

.nav-item a:link,
.nav-item a:visited{
	color:#064780;
	transition: border-bottom 0.3s linear, color 0.3s linear;
	border-bottom:2px solid transparent;
	text-decoration:none;
}

.nav-item a:hover,
.nav-item a:active{
	border-bottom:1px solid #0854C7;
	color:#0854C7;
}


/* Small phones to small tablets: from 481px to 767px */
@media all and (max-width: 767px) {
	.nav-list{
		flex-wrap:wrap;
	}

	.nav-item{
		/*border: 2px solid #EDEDF4;*/
		flex: 1 1 50%;
		margin-top:10px;
	}
}

/* Small phones: from 0 to 480px */
@media all and (max-width: 481px) {
	.nav-item{
		flex: 1 1 100%;
	}
}

/******************************************************************
                    content
*******************************************************************/


.bg-container{
	/*border: 2px solid yellow;*/
	padding:50px 0;
	background-color: #064780;
	min-height:100vh;
	display:flex;
	align-items: stretch;
}


.cv{
	/*border:2px solid red;*/
	margin: 0 auto;
	width:940px;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	border-radius: 4px;
}

/* Quando alcança 940px que é a largura do CV */
@media all and (max-width: 940px) {
	.bg-container{
		padding:0;
	}
}

/******************************************************************
                    biography
*******************************************************************/

.cv-header{
	height:100px;
	width:100%;
	background-color: #406eaa;
	color:white;
}

.bio{

}

footer{
	padding:10px 0;
	text-align:center;
	width:100%;
	height:40px;
	background-color: #EDEDF4;
}


